<div class="hero-unit">
    <h1>Loan Analytics</h1>
    <span class="citation byAdabraSoftware">by Bradley Gore</span>
    <p>
        Welcome to <b>Loan Analytics</b>, a place where you can see how much you can get out of your loan in addition 
        to how much your loan is getting out of you!
    </p>
    <p>
        Our application utilizes your own local storage to hold the Loan Profiles you create and is thusly fully 
        compatible with the following browsers:
        <ul>
            <li>Internet Explorer 8+</li>
            <li>Chrome</li>
            <li>Firefox</li>
            <li>Safari</li>
        </ul>
        <aside>However, even if your browser doesn't support local storage, you can create and modify as many Loan Profiles as you like during your browsing session!</aside>
        <aside>*Note: Whichever browser you create your profiles in will be the browser that can access the profiles later on.  Local Storage is unique within each browser.</aside>
    </p>
    <p>
        <b>Loan Analytics</b> provides a fully featured experience for analyzing your loans.  Here's what we have to offer:
        <ul>
            <li>Create multiple unique Loan Profiles</li>
            <li>Continously update Loan Profiles with
                <ul>
                    <li>Single-Instance Extra Payments on any month in your payment schedule</li>
                    <li>Recurring Extra Payments that span multiple months and/or years in your payment schedule</li>
                    <li>General Scenario modifications</li>
                </ul>
            </li>
            <!-- <li>Data Visualization
                <ul>
                    <li>On the overall Loan Profile</li>
                    <li>On each Year within the Payment Schedule</li>
                </ul>
            </li> -->
            <li>Remove Loan Profiles as you're done with them</li>        
        </ul>
    </p>
</div>